.main-heading {
  margin-bottom: 38px;
  font-size: 40px;
  font-weight: 700;
  line-height: 22px;
  color: $main-color;
  text-align: center;
  &.sm-b {
    margin-bottom: 28px;
  }
}
.main-des {
  margin-bottom: 30px;
  font-size: 17px;
  color: $main-color-light;
  font-weight: 400;
  text-align: center;
}


.small-heading {
  text-align: center;
  color: $white-color;
  font-weight: 600;
  font-size: 20px;
}
