$main-color: #11476b;
$main-color-dark: #0d344f;
$main-color-light: #74818a;
$alt-color: #edd04a;

$topHeader-color: #12486b;

$nav-link:#12476b;
$active-nav-link:#176b87;

$main-text-color:#202124;

$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$bg-section-main: #fbfcfd;
$bg-section-sec: #f1f5f6;
$footer-bg: #11476b;