.site-header {
  .top-nav {
    @include flex-center;
    width: 100%;
    height: 50px;
    background-color: $topHeader-color;
    .nav-content {
      @include flex-between;
      flex-wrap: wrap;
      gap: 5px;
      .holder-nav-list {
        @include flex-between;
        gap: 30px;
      }
      .nav-list {
        @include flex-center;
        gap: 15px;
        .item {
          .link {
            @include flex-justify(flex-start);
            gap: 8px;
            font-size: 14px;
            font-weight: 400;
            color: $white-color;
            transition: transform ease-out 0.3s;
            background-color: transparent;
            &.md-link {
              font-size: 15px;
              letter-spacing: 2px;
              .icon {
                font-size: 15px;
              }
            }
            &.lg-link {
              font-size: 16px;
            }
            .icon {
              color: $white-color;
              font-size: 14px;
            }
            &:hover {
              transform: scale(1.04);
            }
          }
          &.dropdown {
            .dropdown-toggle {
              gap: 5px;
              &::after {
                content: none !important;
              }
            }
            .dropdown-menu {
              .dropdown-item {
                @include flex-justify(flex-start);
                gap: 5px;
              }
            }
          }
        }
      }
    }
  }
  .bottom-nav {
    background-color: $white-color;
    filter: drop-shadow(0px 1px 4.5px rgba(18, 72, 107, 0.13));
    h1 {
      .navbar-brand {
        margin-left: 0%;
        img {
          width: 250px;
          height: auto;
        }
      }
    }
    .navbar-toggler {
      padding: 0;
      border: 0px;
      &:focus {
        box-shadow: none;
      }
      i,
      svg {
        font-size: 31px;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        flex: 1;
        justify-content: center;
        .nav-item {
          .nav-link {
            position: relative;
            padding: 8px 12px;
            font-size: 16px;
            font-weight: 600;
            color: $nav-link;
            &.active {
              color: $active-nav-link;
              &::after {
                position: absolute;
                content: "";
                right: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                transform: scale(0.8);
                background-color: $active-nav-link;
              }
              &::before {
                content: none;
              }
            }
            &::before {
              position: absolute;
              content: "";
              right: 0;
              bottom: 0;
              width: 100%;
              height: 2px;
              transition: $sm-transition;
              transform: scale(0);
              background-color: $nav-link;
            }
            &:hover {
              &::before {
                transform: scale(0.8);
              }
            }
          }
        }
      }
    }
  }
}

@include maxWidth(sm) {
  .collapse:not(.show) {
    display: none !important;
  }
}
