* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: $main-text-color;
}
// reset Ul
ul {
  @include reset-ul;
}
// reset Link
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
// Reset Input
input:focus,
select:focus {
  outline: none;
}
// custom Input
input {
  direction: rtl !important;
  &:focus::placeholder {
    opacity: 0;
    transition: $sm-transition;
  }
}

// Start about
.about {
  .about-img {
    @include full-w-h;
    img {
      @include set-cover-img;
    }
  }
}
// End about
// Start services
.services {
  background-color: $bg-section-main;
}
// End services
// Start operation
.operation {
  background-color: $bg-section-sec;
}
// End operation

