.swiper-landing {
  position: relative;
  height: calc(100vh - 50px - 74.03px);
  
  .swiper-wrapper {
    .swiper-slide {
      position: relative;
      &::before {
        content: "";
        @include reset-position;
        @include full-w-h;
        z-index: 1;
        background-color: rgb(3 33 53 / 22%);
      }
      img {
        @include set-cover-img;
      }
    }
  }
  .btn-directions {
    width: 40px;
    height: 35px;
    &::after {
      font-size: 38px;
      color: $white-color;
    }
    &.right {
      right: 80px !important;
    }
    &.left {
      left: 80px !important;
    }
  }
  .swiper-pagination {
    bottom: 50px;
    .swiper-pagination-bullet {
      width: 9px;
      height: 9px;
      background-color: $white-color;
      opacity: 1;
      transition: $sm-transition;
      &.swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        background-color: $main-color;
      }
    }
  }
}

.partners-swiper {
  height: fit-content;
}

.country-swiper {
  height: fit-content;
  padding: 20px;
  @include maxWidth(sm) {
    padding: 10px;
  }
  .swiper-wrapper {
    .swiper-slide {
      &.swiper-slide-active {
        .country-box {
          box-shadow: 0 0 10px 0 rgb(17 71 107 / 20%);
        }
      }
    }
  }
}